In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One Hot Encoding
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [7]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [8]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [9]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
#combine one hot encoder col with the original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,2,15647311,Hill,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,3,15619304,Onio,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,4,15701354,Boni,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,5,15737888,Mitchell,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [12]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [13]:
#Save the encoder and scaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [14]:
# Divide the dataset into indepent and dependent features
x = data.drop('Exited', axis=1)
y = data['Exited']

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.2, random_state=42)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [16]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [17]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

<h1>ANN Impl

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [19]:
(x_train.shape[1],)

(12,)

In [20]:
model = Sequential([
    Dense(64, activation = 'relu', input_shape=(x_train.shape[1],)), #HL1
    Dense(32, activation = 'relu'), #HL2
    Dense(1, activation='sigmoid')
])

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [22]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()
loss

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [23]:
# Compile the model
model.compile(optimizer=opt,
              loss="binary_crossentropy",
              metrics=['accuracy'])

In [24]:
#Set up the Tensorboard
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [25]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [26]:
# Train the model
history = model.fit(
    x_train, y_train, validation_data = (x_test, y_test), epochs = 100,
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 877us/step - loss: 0.4015 - accuracy: 0.8317 - val_loss: 0.3626 - val_accuracy: 0.8505
Epoch 2/100
250/250 [==============================] - 0s 541us/step - loss: 0.3528 - accuracy: 0.8535 - val_loss: 0.3572 - val_accuracy: 0.8560
Epoch 3/100
250/250 [==============================] - 0s 544us/step - loss: 0.3494 - accuracy: 0.8565 - val_loss: 0.3441 - val_accuracy: 0.8605
Epoch 4/100
250/250 [==============================] - 0s 524us/step - loss: 0.3419 - accuracy: 0.8620 - val_loss: 0.3484 - val_accuracy: 0.8590
Epoch 5/100
250/250 [==============================] - 0s 501us/step - loss: 0.3413 - accuracy: 0.8618 - val_loss: 0.3424 - val_accuracy: 0.8610
Epoch 6/100
250/250 [==============================] - 0s 520us/step - loss: 0.3381 - accuracy: 0.8606 - val_loss: 0.3411 - val_accuracy: 0.8670
Epoch 7/100
250/250 [==============================] - 0s 549us/step - loss: 0.3361 - accuracy: 0.8614 - val_loss: 0.3512 - val_accuracy: 0.8600
Epoch 8/100
250/250 [==============================] - 0s 540us/step - loss: 0.3339 - accuracy: 0.8656 - val_loss: 0.3483 - val_accuracy: 0.8580
Epoch 9/100
250/250 [==============================] - 0s 506us/step - loss: 0.3330 - accuracy: 0.8609 - val_loss: 0.3429 - val_accuracy: 0.8580
Epoch 10/100
250/250 [==============================] - 0s 621us/step - loss: 0.3316 - accuracy: 0.8652 - val_loss: 0.3402 - val_accuracy: 0.8615
Epoch 11/100
250/250 [==============================] - 0s 556us/step - loss: 0.3291 - accuracy: 0.8660 - val_loss: 0.3417 - val_accuracy: 0.8590
Epoch 12/100
250/250 [==============================] - 0s 560us/step - loss: 0.3270 - accuracy: 0.8652 - val_loss: 0.3473 - val_accuracy: 0.8580
Epoch 13/100
250/250 [==============================] - 0s 544us/step - loss: 0.3257 - accuracy: 0.8669 - val_loss: 0.3395 - val_accuracy: 0.8605
Epoch 14/100
250/250 [==============================] - 0s 502us/step - loss: 0.3226 - accuracy: 0.8664 - val_loss: 0.3459 - val_accuracy: 0.8600
Epoch 15/100
250/250 [==============================] - 0s 534us/step - loss: 0.3225 - accuracy: 0.8671 - val_loss: 0.3462 - val_accuracy: 0.8550
Epoch 16/100
250/250 [==============================] - 0s 650us/step - loss: 0.3191 - accuracy: 0.8686 - val_loss: 0.3487 - val_accuracy: 0.8595
Epoch 17/100
250/250 [==============================] - 0s 547us/step - loss: 0.3167 - accuracy: 0.8701 - val_loss: 0.3447 - val_accuracy: 0.8600
Epoch 18/100
250/250 [==============================] - 0s 499us/step - loss: 0.3147 - accuracy: 0.8709 - val_loss: 0.3539 - val_accuracy: 0.8615
Epoch 19/100
250/250 [==============================] - 0s 488us/step - loss: 0.3099 - accuracy: 0.8716 - val_loss: 0.3548 - val_accuracy: 0.8610
Epoch 20/100
250/250 [==============================] - 0s 491us/step - loss: 0.3124 - accuracy: 0.8695 - val_loss: 0.3519 - val_accuracy: 0.8630
Epoch 21/100
250/250 [==============================] - 0s 551us/step - loss: 0.3079 - accuracy: 0.8710 - val_loss: 0.3486 - val_accuracy: 0.8620
Epoch 22/100
250/250 [==============================] - 0s 552us/step - loss: 0.3053 - accuracy: 0.8740 - val_loss: 0.3611 - val_accuracy: 0.8585
Epoch 23/100
250/250 [==============================] - 0s 544us/step - loss: 0.3055 - accuracy: 0.8724 - val_loss: 0.3587 - val_accuracy: 0.8560

In [27]:
model.save('model.h5')

/Users/apple/Desktop/ANN_CLASSIFICATION_PROJECT/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [28]:
## Load Tensorboard Extension
%load_ext tensorboard

In [29]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 46956), started 22:32:23 ago. (Use '!kill 46956' to kill it.)

In [30]:
### Load the pickle file